SITE_DOMAIN=stomptracker.duckdns.org
FRONTEND_URL=https://stomptracker.duckdns.org

POSTGRES_PASSWORD=change-this-long-random-password
DATABASE_URL=postgresql://stomptracker:change-this-long-random-password@postgres:5432/stomptracker
DATABASE_POOL_MAX=5

OPENDOTA_API_URL=https://api.opendota.com/api
OPENDOTA_API_KEY=

WEB_IMAGE=ghcr.io/franciscodastres/dota2-pro-encounters-web:main
BACKEND_IMAGE=ghcr.io/franciscodastres/dota2-pro-encounters-backend:main
